/* NOCT theme by Nicolas Artman */

.hljs-comment,
.hljs-quote {
  color: #82C87B;
}

.hljs-variable,
.hljs-params,
.hljs-link,
.hljs-template-variable,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-deletion {
  color: #AED2E4;
}

/* so the < and > aren't colored */
.hljs-tag,
.hljs-number {
  color: #D7D7D7;
}

.hljs-literal {
  color: #AC9A8D;
}

.hljs-tag:second-child,
.hljs-attr,
.hljs-meta,
.hljs-built_in,
.hljs-builtin-name {
  color: #dcafdd;
}

.hljs-type {
  color: #ED9895;
}


.hljs-attribute {
  color: #f0c674;
}

.hljs-regexp,
.hljs-string,
.hljs-symbol,
.hljs-bullet,
.hljs-addition {
  color: #f1e9a4;
}

.hljs-title,
.hljs-section {
  color: #81a2be;
}

.hljs-keyword {
  color: #a996c1;
}

.hljs-selector-tag {
  color: #EAAE81;
}

.hljs {
  display: block;
  overflow-x: auto;
  background: #222;
  color: #D7D7D7;
  padding: 0.5em;
  font-family: Menlo
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}
